   /* Thiết lập style cho slider */
        
   #slider {
    width: 100%;
    height: 500px;
    position: relative;
}

#slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#slider .slide.active {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
/* Thiết lập style cho các chữ nổi */

.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px gray;
    z-index: 1;
}
/* Thiết lập style cho nút điều hướng */

.control {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px gray;
}

.control.prev {
    left: 0;
}

.control.next {
    right: 0;
}